.close-icon {
  color: red !important;
  width: 40px;
  height: 40px;
  font-size: 34px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 0 !important;
}

.phoneInputFormField {
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border-radius: 0.25rem !important;
  border: 1px solid #ced4da !important;
  background-color: #fff;
}

.PhoneInputInput {
  border: 0 !important;
}

.modal-dialog {
  max-width: 80vw !important;
}

.activeHorV {
  background-color: #9af1cb !important;
  border: 0px !important;
}

.horiVerti {
  background-color: #dbe3ea !important;
  border: 0px !important;
}

.feedbackActive {
  background-color: #eaa3a6 !important;
}